@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    background-image: url('../image/cute_animals.png');
    background-size: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
}

h1{
    text-align: right;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40pt;
    margin-top: 50px;
}

h2{
    font-family: 'Syne Mono', monospace;
    font-size: 30pt;
    margin: 20px;
    text-align: right;
}


label{
    padding: 5px;
    font-weight: bold;
    text-align: right;
    display: block;
    width: 80%;
    margin: 0;
}

input{
    margin: 15px;
    margin-left: 80%;
    text-align:left;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    padding: 10px;
    border-radius: 6px;
}


@media screen and (min-width: 600px){
  #container
  {
    text-align: right;
    margin: 3% auto;
    width: 0%;
  }
  
  input
  {
    text-align: right;

  }
  
  .submit
  {
    text-align: right;
    width: fixed;
  }
}

@media screen and (max-width: 800px){
  #container
  {
    margin: 3%;
  }
  
  h2
  {
    text-align: right;
    -webkit-text-size-adjust: 50%;
  }
}
